{% extends "createsubscription/select_start_date.html" %}
{% load i18n %}
{% load juntagrico.config %}

{% block intro %}
    {% trans "Info" %}:
    {% blocktrans trimmed with sd=start_date|date:"d.m.Y" v_subscription=vocabulary.subscription %}
        Das {{ v_subscription }} läuft jeweils vom <b>01.01. bis 31.12.</b> und verlängert sich automatisch um ein
        weiteres Jahr, mit dem <b>30. September</b> als spätesten Kündigungstermin für das Folgejahr.
        Ein unterjähriger Eintritt ist möglich, wenn es freie Abos hat. Die Laufzeit verlängert sich dadurch jedoch nicht.
        Möchtest du unter dem Jahr zu uns stossen? Dann reduzieren sich der Preis und die zu leistenden Einsätze
        quartalsweise um einen Viertel.
        <strong style="color: #ff0000;">Momentan hat es noch unbelegte Abos, das Startdatum ist somit frei wählbar</strong> <br />
    {% endblocktrans %}
{% endblock %}

{% block hint %}
    {% blocktrans trimmed with v_subscription=vocabulary.subscription %}
        Gilt nur, insofern ein {{ v_subscription }} zum gewünschten Datum frei ist.
    {% endblocktrans %}
{% endblock %}
