{% extends "job.html" %}
{% load i18n %}
{% load juntagrico.config %}

{% block multiplier %}
    {% if job.multiplier == 0 %}
        <div class="row pb-4">
            <div class="col-md-3">
                {% vocabulary "assignment_pl" %}:
            </div>
            <div class="col-md-5">
                {% blocktrans trimmed with jm=job.multiplier %}
                Du erhältst für diese Veranstaltung keine {{ v_assignment_pl }} gutgeschrieben.
                {% endblocktrans %}
            </div>
        </div>
    {% elif job.multiplier != 1 %}
        <div class="row pb-4">
            <div class="col-md-3">
                {% vocabulary "assignment_pl" %}:
            </div>
            <div class="col-md-5">
                {# changed text here #}
                {% blocktrans trimmed with jm=job.multiplier %}
                    Du bekommst für diesen Arbeitseinsatz {{ jm }} Stunden gutgeschrieben.
                {% endblocktrans %}
            </div>
        </div>
    {% endif %}
{% endblock %}
