{% extends "signup.html" %}
{% load juntagrico.config %}

{% block intro_1 %}
    <p>Herzlich willkommen bei {% enriched_organisation "D" %}</p>
{% endblock %}

{% block intro_with_shares %}
    <p>
        Du hast Lust auf eigenes Gemüse direkt vom Acker? Und möchtest dich in die Arbeiten auf und neben dem
        Feld einbringen? Dann bist du bei uns am richtigen Ort.
        Beim Gemüseabo haben wir mehrere Varianten zur Auswahl, du kannst das für dich oder euch passende aussuchen.
        Die Übersicht mit den verschiedenen Abos findest du auf unserer
        <a href="https://www.feuerundbohne.ch/mitmachen" target="_blank">Webseite</a>.
    </p>
{% endblock %}

{% block intro_2 %}
    Wenn du also Feuer gefangen hast, meldest du dich am besten gleich an. Unten gibst du als Erstes deine
    Kontaktdaten an. Auf den folgenden Seiten kannst du ein Abo und sein Startdatum wählen sowie die Anteilscheine
    erwerben. Und du kannst bei Bedarf weitere Personen hinzufügen, die mit dir das Abo teilen.
    Alle relevanten Dokumente fürs Mitmachen haben wir übrigens auf unserer
    <a href="https://www.feuerundbohne.ch/dokumente" target="_blank">Webseite</a> zusammengestellt.
    <br><br>Wir freuen uns auf dich.
{% endblock %}
